<html >
<head>
    <title>Rest Countries</title>
    <style type="text/css" media="screen">

    </style>

    <!-- Custom Theme files -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="/assets/bootstrap/css/bootstrap.min.css" rel='stylesheet' type='text/css'/>
    <!--    awesome font-->
    <link rel="stylesheet" href="/assets/bootstrap/css/font-awesome.css">
    <!-- Custom Theme files -->
    <!--<link href="css/style.css" rel='stylesheet' type='text/css'/>-->
    <link rel="stylesheet" href="/assets/bootstrap/css/style.css">


    <!--    web fonts-->
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="/js/jquery.min.js"></script>

    <!--    bootstrap js-->
    <script type="text/javascript" src="/assets/bootstrap/js/bootstrap.min.js"></script>

    <!--validation-->
    <script type='text/javascript' src='https://platform-api.sharethis.com/js/sharethis.js#property=5ed3dc770c6b07001257ceac&product=inline-share-buttons&cms=website' async='async'></script>
</head>
<body style="background-color: white; text-align: center" >

<div class="row">


    <div>

        <div class="row col-white" >
            <div>

                    <div id="question_container">
                        <div class="single_question_box">

                            <div class="qbox">
                                <div style="text-align: center">
                                    <div id="paging"><h4>Propriedades Dos Diferentes Paises Presentes na API Rest : http://restcountries.eu/</h4>
                                    </div>
                                </div>
                                <div class="clear"></div>
                            </div>
                        </div>
                    </div>
            </div>

        </div>

        <br/><br/>

        <div class="row">

            <div>
                <a
                        href="/countries"
                        class="btn btn-info"
                        id="view">Visualizar</a>
            </div>
            <br/>


            <div>
                <a
                        href="/download.do"
                        class="btn btn-info"
                        id="download">Exportar para Formato .XML</a>
            </div><br/>

            <div >
                <a
                        href="/downloadCSVFile.do"
                        class="btn btn-info"
                        id="downloadCSV">Exportar para Formato .CSV</a>
            </div>


            <div><br/>

                <div class="sharethis-inline-share-buttons"></div>
            </div>

        </div>
    </div>
</div>

</body>
</html>